apiVersion: v1
kind: ConfigMap
metadata:
  name: loki-config
  namespace: argocd
data:
  loki.yaml: |
    auth_enabled: false

    server:
      http_listen_port: 3100
      grpc_listen_port: 9095

    ingester:
      lifecycler:
        address: 127.0.0.1
        ring:
          kvstore:
            store: inmemory
          replication_factor: 1
      chunk_idle_period: 5m
      chunk_retain_period: 30s
      max_transfer_retries: 0

    schema_config:
      configs:
        - from: 2020-10-24
          store: boltdb-shipper # было inmemory
          object_store: filesystem
          schema: v11
          index:
            prefix: index_
            period: 24h

    storage_config:
      filesystem:
        directory: /loki/chunks

    # ДОБАВЬТЕ ЭТОТ БЛОК ДЛЯ BOLTDB-SHIPPER
    # Это конфигурирует хранилище для индекса (то, что было inmemory).
    boltdb_shipper:
      active_index_directory: /loki/index # Куда будет писаться активный индекс
      cache_location: /loki/cache       # Куда будет писаться кэш индекса
      resync_interval: 5s
      shared_store: filesystem # Указывает, что индекс тоже использует файловую систему
    # Конец нового блока


    limits_config:
      enforce_metric_name: false
      reject_old_samples: true
      reject_old_samples_max_age: 168h

    chunk_store_config:
      max_look_back_period: 0s

    table_manager:
      retention_deletes_enabled: false
      retention_period: 0s
