
service:
  enabled: true
  type: NodePort
  port: 80
  targetPort: 3000
  nodePort: 30125

adminUser: admin
adminPassword: mysecurepassword

persistence:
  enabled: false

grafana.ini:
  database:
    type: postgres
    host: "http://posrgresql-grafana-postgresql.monitoring.svc.cluster.local:5432"
    name: grafana
    user: grafana
    password: grafana123
    sslmode: disable

#persistence:
#  type: pvc
#  enabled: true
#  volumeName: ""
#  accessModes:
#    - ReadWriteOnce
#  size: 1Gi

#  type:  statefulset

  # Собственный volume с hostPath
#  volumes:
#    - name: grafana-storage
#      hostPath:
#        path: /home/neo/grafana-data
#        type: DirectoryOrCreate

#  mounts:
#    - name: grafana-storage
#      mountPath: /var/lib/grafana