  adminUser: admin
  adminPassword: mysecurepassword
  
grafana:
  service:
    enabled: true
    type: NodePort
    port: 80
    targetPort: 3000
    nodePort: 30125

  persistence:
    enabled: false

  grafana.ini:
    database:
      type: postgres
      host: postgresql-grafana-postgresql.argocd.svc.cluster.local:5432
      name: grafana
      user: grafana
      password: grafana1234
      sslmode: disable
      max_open_conn: 100
      max_idle_conn: 100
      conn_max_lifetime: 14400
      log_queries: true
    server:
      root_url: http://localhost:30125
    security:
      admin_user: admin
      admin_password: mysecurepassword
    paths:
      data: /var/lib/grafana/
      logs: /var/log/grafana
      plugins: /var/lib/grafana/plugins
      provisioning: /etc/grafana/provisioning

#persistence:
#  type: pvc
#  enabled: true.
#  volumeName: ""
#  accessModes:
#    - ReadWriteOnce
#  size: 1Gi

#  type:  statefulset

#  # Собственный volume с hostPath
#  volumes:
#    - name: grafana-storage
#      hostPath:
#        path: /home/neo/grafana-data
#        type: DirectoryOrCreate

#  mounts:
#    - name: grafana-storage
#      mountPath: /var/lib/grafana