adminUser: admin
adminPassword: mysecurepassword

grafana:
  service:
    enabled: true
    type: NodePort
    port: 80
    targetPort: 3000
    nodePort: 30125
  persistence:
    enabled: false
  server:
    root_url: http://localhost:30125
  paths:
    data: /var/lib/grafana/
    logs: /var/log/grafana
    plugins: /var/lib/grafana/plugins
    provisioning: /etc/grafana/provisioning
  grafana.ini:
    database:
      type: postgres
      host: postgresql-grafana.argocd.svc.cluster.local:5432
      name: grafana
      user: grafana
      password: grafana1234
      ssl_mode: disable
      max_open_conn: 100
      max_idle_conn: 100
      conn_max_lifetime: 14400
      log_queries: true
  extraSecretMounts:
    - name: grafana-db-secret
      secretName: grafana-db-secret
      defaultMode: 0440
      mountPath: /etc/grafana/secrets
      readOnly: true
  extraEnv:
    GRAFANA_DB_PASSWORD:
      valueFrom:
        secretKeyRef:
          name: grafana-db-secret
          key: password

#persistence:
#  type: pvc
#  enabled: true.
#  volumeName: ""
#  accessModes:
#    - ReadWriteOnce
#  size: 1Gi

#  type:  statefulset

#  # Собственный volume с hostPath
#  volumes:
#    - name: grafana-storage
#      hostPath:
#        path: /home/neo/grafana-data
#        type: DirectoryOrCreate

#  mounts:
#    - name: grafana-storage
#      mountPath: /var/lib/grafana