loki:
   schemaConfig:
     configs:
       - from: "2024-04-01"
         store: tsdb
         object_store: s3
         schema: v13
         index:
           prefix: loki_index_
           period: 24h
    storage_config:
      boltdb_shipper:
        active_index_directory: /loki/index
        cache_location: /loki/index_cache
        resync_interval: 5s
        shared_store: s3
      aws:
        s3: http://minio-mon.argocd.svc.cluster.local:9000/loki
        s3forcepathstyle: true