# kubernetes-vector-agent/configmap.yaml
apiVersion: v1
kind: ConfigMap
metadata:
  name: vector-agent-config # Имя ConfigMap
  namespace: argocd         # Неймспейс, где будет развернут Vector
data:
  vector.toml: |
    # Источник: чтение логов из конкретной директории на хосте (если приложение пишет в файл)
    [sources.current_time_logs_file]
    type = "file"
    include = ["/var/log/k8s-apps/current-time-app-logs/*.log"]
    ignore_older = 86400

    # Источник: Сбор логов stdout/stderr ТОЛЬКО для приложения current-time-app
    [sources.kubernetes_current_time_app_logs]
    type = "kubernetes_logs"
    # Для `kubernetes_logs` настоятельно рекомендуется включить `add_metadata`,
    # даже если вы не хотите ее выводить, это поможет Vector'у лучше парсить.
    # Но если вы хотите АБСОЛЮТНО без преобразований, то оставляем как есть.
    # Важно: `pod_name_passthrough` - это устаревший параметр.
    # Современный способ фильтрации прямо в источнике `kubernetes_logs` - это `pod_labels` или `namespaces`.
    # Если ваше приложение current-time-app-0 имеет label 'app: current-time-app', используйте это:
    # pod_labels = { "app" = "current-time-app" }
    # Или, если оно всегда называется "current-time-app-0" и вы хотите рискнуть на устаревший параметр:
    # (СТРОКА 'pod_name_passthrough' ПОЛНОСТЬЮ УДАЛЕНА ИЗ ФАЙЛА)
    # Если вы хотите собирать логи со всех подов, но потом фильтровать, удалите строку выше
    exclude_paths_glob_patterns = ["/var/log/pods/*/vector/*.log"]

    # Вместо pod_fields используем extra_field_selector для фильтрации по имени пода
    # ВНИМАНИЕ: ЭТА СТРОКА ДОЛЖНА БЫТЬ С ТЕМ ЖЕ ОТСТУПОМ, ЧТО И exclude_paths_glob_patterns !
    extra_field_selector = "metadata.name=current-time-app-0" 


    ### НАСТРАИВАЕМЫЙ ФИЛЬТР МЕТАДАННЫХ KUBERNETES ###
    #
    # Эта трансформация `remap` позволяет вам ВЫБИРАТЕЛЬНО удалять метаданные из логов
    # с помощью Vector Remap Language (VRL).
    # Для удаления поля используйте команду `del(.path.to.field)`.
    #
    [transforms.customize_kube_metadata]
    type = "remap" # <--- ИЗМЕНЕНО НА "remap"
    inputs = ["kubernetes_current_time_app_logs"] # Берем логи от источника Kubernetes
    source = '''
      # Удаляемые поля (раскомментируйте строку, чтобы удалить)
      del(.kubernetes.container_image) # Удаляем имя образа контейнера
      del(.kubernetes.pod_node_name)   # Удаляем имя узла пода
      del(.kubernetes.pod_owner)       # Удаляем владельца пода
      del(.kubernetes.pod_labels)      # Удаляем метки пода
      del(.kubernetes.namespace_labels) # Удаляем метки неймспейса
      del(.kubernetes.node_labels)     # Удаляем метки узла

      # Дополнительные метаданные, которые вы хотели удалить ранее
      del(.file)                      # Удаляем путь к файлу лога
      del(.kubernetes.container_id)   # Удаляем длинный идентификатор контейнера
      del(.kubernetes.container_image_id) # Удаляем длинный идентификатор образа
      del(.kubernetes.pod_ip)         # Удаляем IP-адрес пода
      del(.kubernetes.pod_ips)        # Удаляем список IP-адресов пода
      del(.kubernetes.pod_uid)        # Удаляем уникальный ID пода (UUID)

      # Поля, которые вы хотели ОСТАВИТЬ, здесь не нужно удалять
      # (т.е., они не перечислены с 'del()')
      # kubernetes.container_name
      # kubernetes.pod_name
      # kubernetes.pod_namespace
    ''' # <--- СКРИПТ VRL ЗАВЕРШАЕТСЯ ЭТИМИ ТРЕМЯ КАВЫЧКАМИ

    
    # Sink: отправка логов из файла в Loki (если Loki настроен)
    [sinks.loki_from_ks8_current-time]
    type = "loki"
    inputs = ["customize_kube_metadata"] # <--- Теперь вход от НОВОЙ трансформации!
    #inputs = ["current_time_logs_file"]
    endpoint = "http://loki.argocd.svc.cluster.local:3100/loki/api/v1/push"
    encoding.codec = "json"

    [sinks.loki_from_ks8_current-time.labels] # <--- ИЗМЕНЕНО
    job = "current-time"
    application = "current-time-app" # Хорошая дополнительная метка для Loki

    #[sinks.loki_from_file.labels]
    #job = "current-time"

    # Sink: вывод логов из файла в stdout Vector'а
    [sinks.console_from_file]
    type = "console"
    inputs = ["current_time_logs_file"]
    encoding.codec = "json"

    # Sink: Вывод логов stdout/stderr приложения в stdout Vector'а БЕЗ ДОБАВЛЕНИЯ МЕТАДАННЫХ
    [sinks.console_kubernetes_current_time_app_logs]
    type = "console"
    #inputs = ["kubernetes_current_time_app_logs"]
    inputs = ["customize_kube_metadata"] # <--- Теперь вход от НОВОЙ трансформации!
    encoding.codec = "json" # Вывод в JSON для удобства чтения